.grid-row {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.grid-row:before,
.grid-row:after {
  content: "";
  display: table;
}
.grid-row:after {
  clear: both;
}
.grid-column {
  display: inline-block;
  vertical-align: top;
}
.grid-pull,
.grid-push {
  position: relative;
}
@media print {
  body {
    background: white;
    text-shadow: none;
    color: #595959;
    display: flex;
    flex-flow: wrap;
  }
  .header {
    flex: 0 0 25%;
    order: 1;
    padding-right: 2%;
    text-align: center;
  }
  .header-pic {
    float: right;
    margin: 0;
    width: 200px;
    height: "auto";
  }
  .mission {
    order: 3;
  }
  .mission-quote {
    font-size: larger;
  }
  .posts {
    margin-top: 2.5em;
    padding-left: 2%;
    flex: 0 0 70%;
    order: 2;
  }
  .post-related-lst,
  .post-related-itm,
  .post-related-ttl {
    vertical-align: middle;
    display: inline-block;
    margin-right: 1em;
  }
}
