// //////////////////////// Greyscale
@black: 										rgb( 0, 0, 0 );

@grey-dark: 								lighten(@black, 10%);
@grey-med:									lighten(@black, 50%);
@grey-light: 								lighten(@black, 75%);

@white: 										rgb(255,255,255);

// //////////////////////// Branding
@eggshell:									rgb(231,235,206);

@yellow:										rgb(255,189,48);

@red:												rgb(206,0,0);
@red-desat:									desaturate(@red, 25%);

@brown:											rgb(165,101,45);
@brown-med:									lighten(@brown, 25%);
@brown-light:								lighten(@brown, 50%);

@blue-grey:									rgb(78,87,94);
@blue-grey-med:							lighten(@blue-grey, 50%);
@blue-grey-light:						lighten(@blue-grey, 70%);

@font-sans-serif: 					'Roboto', sans-serif;
@font-serif:								serif, cursive;
@font-heading:							'Roboto Slab', serif;;
@font-icon:									'typicons';

// //////////////////////// VISUAL DEFAULTS
// ------------------------ Typography
@base-type:        					@font-sans-serif;
@base-type-size:   					16;
@base-type-color: 					@eggshell;

@base-unit-px:							unit(@base-type-size, px);
@base-unit-rem:							unit(@base-type-size, rem);

@base-type-heading:					@font-heading;
@base-type-heading-color:   @brown;

@base-line-height: 					1.5;
@base-line-multiplier:			@base-type-size * @base-line-height; // 24

@base-link:									@yellow;
@base-link-hover:	 					@red-desat;
@base-input-focus:					darken( @base-link, 25% );

// ------------------------ Typography - headings
@base-type-h1: 							@base-type-size * 3.1875; 	// 51px
@base-type-h2:							floor( @base-type-size * 2.5625 ); 	// 41px
@base-type-h3:							ceil( @base-type-size * 2 ); 		// 32px
@base-type-h4:							ceil( @base-type-size * 1.6250 );	// 26px
@base-type-h5:							ceil( @base-type-size * 1.25 );		// 20px
@base-type-h6:							ceil( @base-type-size * 1 );		// 16px
@base-type-sm:							ceil( @base-type-size * 0.75 );		// 12px


// ------------------------ Typography - spacing
@base-margin:								unit( @base-line-height, em);
@base-margin-percent:				unit(@base-line-height, %);

@base-margin-half:					@base-margin / 2;

// ------------------------ Forms - Messaging
@error: 										@red;
@alert: 										@red-desat;
@note:											@grey-light;

// ------------------------ Forms - buttons
@btn-primary: 							@black;
@btn-secondary:	 						@grey-med;

// ------------------------ Forms - labels
@label-width: 							30%;
@label-right: 							@base-margin-half;
@label-total: 							( @label-width + @label-right );

// ------------------------ Forms - inputs
@input-width:								calc( ~"100% - @label-total" );
@input-bg:									@white;
@input-bg-disabled: 				@grey-light;

@input-color:								@grey-med;
@input-border:							@grey-med;
@input-focus:								darken( @input-color, 50% );
@input-height-base:					( @base-line-height + ( @base-margin-half * 2 ) + 2 );

@legend-color:							@grey-dark;
@legend-border-color:				@grey-med;

@btn-type-color:						@white;
@btn-pad:										@base-margin @base-margin-half;
@btn-bg:										@btn-primary;

// ------------------------ icons
@icon-color: 								@grey-med;

// @import './_typicons';