@import './_variables';
@import './_mixins';
@import './_grid';

body {
	background: @grey-lighter;
}

.header {
	&-info {
		padding: @base-margin;
		.col(3);

		&-ttl {
			display: inline-block;
		}

		&-contact {
			&-lst { 
				padding: 0;
				margin: 0;
			}

			&-itm { 
				display: inline-block; 
				padding: 0 @base-margin-half;
			}
		}
	}
}

.mission {
	// color: @white;
	// text-shadow: 1px 1px 0 fade(@grey-darker, 35%);
	text-shadow: 1px 1px 0 @white;
	position: relative;
	&-quote {
		padding: 0;
	}
	&-mission {}
	&-skills {}
}

.posts {
	position: absolute;
	top: 0;
	.col(9);
	.push(3);
	&-ttl {
		color: @white;
		.font-size(@base-type-h5);
		text-shadow: -1px -1px 0 @grey-light;
		text-transform: uppercase;
	}

	&-label-nfo {
		text-transform: uppercase;
		.font-size(@base-type-sm);
		color: @red-desat;
		&-company {}
		&-position {}
		&-projects {}
	}
}

.post {
	&-header {
		&-ttl {

			&-position,
			&-company { 
				display: inline-block; 
			}
			&-position {
				float: right;
			}
		}

		&-related {
			&-lst { 
				.col(4);
				display: inline-block;
			}

			&-itm {
				display: inline-block;
			}
		}
	}	
}
