@import './_variables';
@import './_mixins';
@import './_grid';

body {
	background: @blue-grey url(../img/minimal02-1.png) center fixed;
}

.ul-reset {
	margin: 0;
	padding: 0;
}

.anti-float {
	display: inline-block;
	vertical-align: top;
}

.cnt {
	padding: @base-margin;
	background-color: fade(@black, 38%);
	margin: 0 4.86111%;
	border-left: @base-unit-px solid fade(@black,25%);
	border-right: @base-unit-px solid fade(@black,25%);
}

.flare {
	content: "";
	display: block;
	border: 16px solid;
	position: absolute;
	top: 50% - 8px;
	z-index: 3;
}

.header {
	position: relative;
	&:extend(.cnt);

	&-ttl {
		color: @blue-grey;
		text-shadow: -1px -1px 0 fade(@black, 50);
	}

	&-pic {
		background-color: fade(@black, 50%);
		box-shadow: 0 0 0 1px @white inset, 0 0 0 8px @brown, 0 0 0 16px fade(@black,25%);
		font-size: 0;
		border-radius: 200%;
		height: 200px;
		width: 200px;
		position: relative;
		text-align: center;

		&:after {
			&:extend(.flare);
			border-color: @brown transparent @brown @brown;
		}

		&:before {
			&:extend(.flare);				
			border-color: @brown @brown @brown transparent;
			right: 0;
		}

		.img {
			.rotate(-8deg, center);
			border-radius: 100%;
			width: 100% - 4px;
			height: auto;
			margin: 2%;
			z-index: 0;
		}
	}

	&-contact {
		&-lst { 
			display: inline-block;
			.ul-reset;
		}

		&-itm { display: inline; }

		&-lnk {
			text-transform: capitalize;
			padding: @base-margin-half / 2  @base-margin-half;
			display: inline-block; 

			&:hover { 
				background-color: fadeout(@black, 25%);
			}
		}
	}
}

.mission {
	&-quote {
		text-shadow: 1px 1px 0 @black;
		position: relative;
		&:extend(.anti-float);

		&-skills,
		&-philosophy {
			margin-bottom: 0;
			// .background-color(@brown,80);
			// padding: @base-margin;
		}

		&-skills {
			margin-right: 0;
			margin-left: 0;
		}

		&-philosophy,
		&-ethics {
			margin-left: 0;
		}
	}
}

.posts {
	&:extend(.cnt);
	&-ttl {
		text-shadow: -1px -1px 0 fade(@black, 50);
		color: fade(@eggshell, 25);
		text-transform: uppercase;
	}
}

.post {
	padding: @base-margin 0;

	&-header {
		&:extend(.anti-float);

		&-ttl {
			&-company {}
		}

		&-role {
			&-lst { padding-left: 0; }
			&-position { color: @brown; }
			&-duration { color: @grey-med; }
		}
	}	

	&-description {		
		&:extend(.anti-float);
	}

	&-related {
		&-lst {
			margin: @base-margin-half;
			margin-left: 0;
			padding: 0;
		}

		&-itm { 
			display: inline;
			padding-right: @base-margin;
		}
	}
}

// 320px
@media only screen and ( min-width: 320px ) {
	.header {
		&-pic {
			margin: 0 auto (@base-margin-percent * 2) auto;
		}

		&-ttl {
			line-height: 1;
			text-align: center;
			margin-bottom: @base-margin-percent * 4;
		}

		&-contact {
			&-lst { 
				margin: 0 auto;
				text-align: center;
				width: 100%;
			}
		}
	}

	.mission {
		&-quote {
			width: 100%;
			padding: 0;

			&-ethics {
				margin-bottom: 0;
			}
	
			&-skills,
			&-philosophy {
				// .background-color(@brown,80);
				padding: 0;				
			}
		}
	}

	.post {
		&-header,
		&-description {
			width: 100%;
		}	
	}
}

// 480px
@media only screen and ( min-width: 480px ) {

}

// 640px
@media only screen and ( min-width: 640px ) {
	.header {
		&-pic {
			margin-bottom: unit(@base-line-height * 2, %);
		}

		&-ttl {}

		&-contact {}
	}
}

// 768px
@media only screen and ( min-width: 768px ) {
	.header {
		&-pic {
			float: left;
			margin: auto @base-margin-percent * 2 0 @base-margin-percent; 
		}

		&-ttl {
			text-align: left;
			display: inline-block;
			line-height: @base-line-height;
			margin: auto 0 0 0.2em;
		}

		&-contact {
			&-lst { 
				text-align: left;
				.col(8);
			}
		}
	}	

	.mission {
		display: inline;

		&-quote {
			&-skills,
			&-philosophy {
				.background-color(@brown,80);
				padding: @base-margin;   
			}
			
			&-skills {
				.col(5);
				margin-right: 0;
			}

			&-philosophy {
				.col(7);
			}

			&-ethics {
				display: inline;
				margin-left: 0.5em;
			}
		}
	}

	.post {
		&-header {
			.col(4);
		}	

		&-description {
			.col(8);
		}
	}

}

// 980px
@media only screen and ( min-width: 992px ) {
	.mission {
		&-quote {
			&-skills {
				.col(4);
			}

			&-philosophy {
				.col(8);
			}

			&-ethics {
				.col(9.5);
			}
		}
	}
}

// 1024px
@media only screen and ( min-width: 1024px ) {

}

// 1280px
@media only screen and ( min-width: 1280px ) {

}