// 320px
@media ( min-width: 320px ) {
	body {
		.font-size(18, 1.25);
	}

	.header {
		text-align: center;

		&-ttl {
			.font-size(@base-type-h3, 1.5);
			margin-bottom: @base-margin;
		}

		&-pic {
			margin: 0 auto;
		}

		&-contact {
			&-lst {
				padding-left: 0;
			}
		}
	}

	.mission {
		&-quote {
			margin-left: 0;
			margin-right: 0;

			&-skills,
			&-philosophy {
				margin-top: 0;
				padding: 0;				
			}
		}
	}

	.posts {
		&-ttl {
			.font-size(@base-type-h5);
		}
	}
}

// 480px
@media ( min-width: 480px ) {
	.header {
		&-ttl {
			.font-size(@base-type-h2, 2);
			margin-bottom: @base-margin-half;
		}
	}
}

// 640px
@media ( min-width: 640px ) {
	body {
		.font-size(17, 1.25);
	}

	.header {
		text-align: left;

		&-ttl {
			margin-bottom: 0;
			float: right;
			.font-size(@base-type-h2);
		}

		&-pic {
			position: relative;
			left: 6px;
			float: left;
		}

		&-contact-lst {
			float: right;
		}
	}

	.mission {
		&-quote {
			&-ethics {
				float: right;
				width: calc(~"100% / 1.75");
			}

			&-philosophy {
				float: left;
				width: calc(~"100% / 2.75");
				margin-top: @base-margin;
			}


			&-skills {
				float: right;
				width: calc(~"100% / 1.75");
			}
		}
	}

	.posts {
		&-ttl {
			clear: both;
		}
	}
}

// 768px
@media ( min-width: 768px ) {
	body {
		.font-size(@base-type-size);
	}

	.header,
	.mission,
	.posts {
		margin: 0 4.86111%;
	}

	.header {
		&-ttl {
			.font-size(@base-type-h1, 2);
		}
	}	

	.mission {
		&-quote {
			&-skills,
			&-philosophy {
				.background-color(@brown,80);
				padding: @base-margin;   
				float: none;
			}
		}
	}

	// .post {
	// 	&-header {
	// 		.col(5);
	// 	}	

	// 	&-description {
	// 		.col(7);
	// 	}
	// }
}

// 980px
@media ( min-width: 992px ) {
	.header {
	}

	.mission {
		display: block;

		&-quote {
			&-skills,
			&-philosophy {
				.background-color(@brown,80);
				padding: @base-margin;   
			}
			
			&-skills {
				.col(5);
				margin-right: 0;
			}

			&-philosophy,
			&-ethics {
				display: inline;
			}
		}
	}

	.post {
		&-header {
			.col(4);
		}	

		&-description {
			.col(8);
		}
	}
}

// 1024px
@media ( min-width: 1024px ) {

}

// 1280px
@media ( min-width: 1280px ) {

}