// 320px
@media only screen and ( min-width: 320px ) {
	.header {
		text-align: center;
		.cnt-margin();
		margin+: 0 4.86111%;
		

		&-pic {
			position: absolute;
			top: 10%;
			margin: 0;
			.center-abs(300px, 208px);
		}

		&-ttl {
			font-size: 2rem;
			margin-top: 100%;
			line-height: 1;
			margin-bottom: @base-margin-percent * 4;
		}

		&-contact {
			&-lst { 
				margin: 0 auto;
				text-align: center;
				.col(12);
			}
		}
	}

	.mission {
		&-quote {
			width: 100%;
			padding: 0;
			text-align: left;

			&-ethics {
				margin-bottom: 0;
			}
	
			&-skills,
			&-philosophy {
				// .background-color(@brown,80);
				padding: 0;				
			}
		}
	}

	.post {
		&-header,
		&-description {
			width: 100%;
		}	

		&-header {
			&-ttl-company {
				line-height: 1;
			}
		}
	}
}

// 480px
@media only screen and ( min-width: 480px ) {
	.header {
		&-pic {
			left: 27.5%;
		}

		&-ttl {
			font-size: 3rem;
			margin-top: 60%;
		}

		&-contact {}
	}
}

// 640px
@media only screen and ( min-width: 640px ) {
	.header {
		text-align: left;

		&-pic {
			left: 5%;
		}

		&-ttl {
			margin: 0;
		}
	}

	.mission {
		&-quote {
			width: 100%;
			padding: 0;
			text-align: left;

			&-ethics {
				.col(6);
				margin-left: 1.5em;
				margin-bottom: 0;
			}
	
			&-skills,
			&-philosophy {

			}
		}
	}

}

// 768px
@media only screen and ( min-width: 768px ) {
	.header {
		&-pic {
			float: left;
			margin: auto @base-margin-percent * 2 0 @base-margin-percent; 
		}

		&-ttl {
			text-align: left;
			display: inline-block;
			line-height: @base-line-height;
			margin: auto 0 0 0.2em;
		}

		&-contact {
			&-lst { 
				text-align: left;
				.col(8);
			}
		}
	}	

	.mission {
		&-quote {
			&-skills,
			&-philosophy {
				.background-color(@brown,80);
				padding: @base-margin;   
			}
			
			&-skills {
				.col(5);
				margin-right: 0;
			}

			&-philosophy {
				.col(7);
			}

			&-ethics {
				.col(9);
				display: inline-block;
			}
		}
	}

	.post {
		&-header {
			.col(4);
		}	

		&-description {
			.col(8);
		}
	}
}

// 980px
@media only screen and ( min-width: 992px ) {
	.mission {
		display: block;

		&-quote {
			&-skills,
			&-philosophy {
				.background-color(@brown,80);
				padding: @base-margin;   
			}
			
			&-skills {
				.col(5);
				margin-right: 0;
			}

			&-philosophy {
				.col(7);
			}

			&-ethics {
				display: inline;
			}
		}
	}

	.post {
		&-header {
			.col(3);
		}	

		&-description {
			.col(9);
		}
	}
}

// 1024px
@media only screen and ( min-width: 1024px ) {

}

// 1280px
@media only screen and ( min-width: 1280px ) {

}