.ico_base,
.ico:before,
.ico:after {
  position: relative;
  line-height: 1;
  font-family: 'typicons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.gd-pull,
.gd-push {
  position: relative;
}
body {
  background: #e6e6e6;
}
.header-info {
  padding: 1.5em;
  width: 23.61111111%;
}
.header-info-ttl {
  display: inline-block;
}
.header-info-contact-lst {
  padding: 0;
  margin: 0;
}
.header-info-contact-itm {
  display: inline-block;
  padding: 0 0.75em;
}
.mission {
  text-shadow: 1px 1px 0 #ffffff;
  position: relative;
}
.mission-quote {
  padding: 0;
}
.posts {
  position: absolute;
  top: 0;
  width: 73.61111111%;
  left: 25.69444444%;
}
.posts-ttl {
  color: #ffffff;
  font-size: 2rem;
  font-size: 20px;
  line-height: 1.2;
  text-shadow: -1px -1px 0 #bfbfbf;
  text-transform: uppercase;
}
.posts-label-nfo {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-size: 12px;
  line-height: 2;
  color: #b49d9d;
}
.post-header-ttl-position,
.post-header-ttl-company {
  display: inline-block;
}
.post-header-ttl-position {
  float: right;
}
.post-header-related-lst {
  width: 31.94444444%;
  display: inline-block;
}
.post-header-related-itm {
  display: inline-block;
}
