.ico_base,
.ico:before,
.ico:after {
  position: relative;
  line-height: 1;
  font-family: 'typicons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.grid-column {
  display: inline;
  float: left;
}
.grid-pull,
.grid-push {
  position: relative;
}
body {
  background: #4a4230 url(../img/minimal02-1.png) center fixed;
}
.cnt,
.header,
.posts {
  padding: 1.5em;
  background-color: rgba(0, 0, 0, 0.38);
  margin: 0 4.86111%;
}
.header {
  position: relative;
}
.header-info-ttl {
  display: inline-block;
}
.header-info-contact-lst {
  padding: 0;
  margin: 0;
}
.header-info-contact-itm {
  display: inline-block;
  padding: 0 0.75em;
}
.mission-quote {
  text-shadow: 1px 1px 0 #000000;
  position: relative;
  padding: 0;
  vertical-align: top;
  display: inline-block;
}
.mission-quote-skills {
  width: 23.61111111%;
}
.mission-quote-philosophy {
  width: 48.61111111%;
}
.mission-quote-ethics {
  background-color: #000000;
  padding: 1.5em;
  margin: 1.5em 0;
}
.mission-quote-pic {
  display: inline-block;
  margin-right: 0;
  width: 15.27777778%;
  box-shadow: 0 0 0 14px #5e5e63 inset, 0 0 0 16px rgba(0, 0, 0, 0.25);
  font-size: 0;
  overflow: hidden;
  border-radius: 200%;
  text-align: center;
}
.mission-quote-pic img {
  border-radius: 100%;
  border: 2px solid #e9e5dd;
  width: 94%;
  height: 94%;
  margin: 2%;
}
.posts-ttl {
  color: #ffffff;
  font-size: 2rem;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
}
.posts-label-nfo {
  text-transform: uppercase;
  color: #b49d9d;
}
.posts-label-nfo-position {
  left: 67.36111111%;
  text-align: right;
}
.post-header-role-lst {
  width: 48.61111111%;
  display: inline-block;
  padding-left: 0;
}
.post-header-role-position {
  font-size: 2.6rem;
  font-size: 26px;
  line-height: 0.92307692;
  color: #a63f00;
}
.post-header-related-lst {
  width: 48.61111111%;
  text-align: right;
  display: inline-block;
  vertical-align: text-bottom;
  margin: 0;
  padding: 0;
}
.post-header-related-itm {
  padding: 0 0 0 1.5em;
  display: inline;
}
