.grid-column {
  display: inline;
  float: left;
}
.grid-pull,
.grid-push {
  position: relative;
}
body {
  background: #4e575e url(../img/minimal02-1.png) center fixed;
}
.ul-reset {
  margin: 0;
  padding: 0;
}
.anti-float,
.mission-quote,
.post-header,
.post-description {
  display: inline-block;
  vertical-align: top;
}
.cnt,
.header,
.posts {
  padding: 1.5em;
  background-color: rgba(0, 0, 0, 0.38);
  margin: 0 4.86111%;
  border-left: 16px solid rgba(0, 0, 0, 0.25);
  border-right: 16px solid rgba(0, 0, 0, 0.25);
}
.flare,
.header-pic:after,
.header-pic:before {
  content: "";
  display: block;
  border: 16px solid;
  position: absolute;
  top: 42%;
  z-index: 3;
}
.header {
  position: relative;
}
.header-ttl {
  color: #4e575e;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}
.header-pic {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 1px #ffffff inset, 0 0 0 8px #a5652d, 0 0 0 16px rgba(0, 0, 0, 0.25);
  font-size: 0;
  border-radius: 200%;
  height: 200px;
  width: 200px;
  position: relative;
  text-align: center;
}
.header-pic:after {
  border-color: #a5652d transparent #a5652d #a5652d;
}
.header-pic:before {
  border-color: #a5652d #a5652d #a5652d transparent;
  right: 0;
}
.header-pic .img {
  -webkit-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  border-radius: 100%;
  width: 96%;
  height: auto;
  margin: 2%;
  z-index: 0;
}
.header-contact-lst {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.header-contact-itm {
  display: inline;
}
.header-contact-lnk {
  text-transform: capitalize;
  padding: 0.375em 0.75em;
  display: inline-block;
}
.header-contact-lnk:hover {
  background-color: rgba(0, 0, 0, 0.75);
}
.mission-quote {
  text-shadow: 1px 1px 0 #000000;
  position: relative;
}
.mission-quote-skills,
.mission-quote-philosophy {
  margin-bottom: 0;
}
.mission-quote-skills {
  margin-right: 0;
  margin-left: 0;
}
.mission-quote-philosophy,
.mission-quote-ethics {
  margin-left: 0;
}
.posts-ttl {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  color: rgba(231, 235, 206, 0.25);
  text-transform: uppercase;
}
.post {
  padding: 1.5em 0;
}
.post-header-role-lst {
  padding-left: 0;
}
.post-header-role-position {
  color: #a5652d;
}
.post-header-role-duration {
  color: #808080;
}
.post-related-lst {
  margin: 0.75em;
  margin-left: 0;
  padding: 0;
}
.post-related-itm {
  display: inline;
  padding-right: 1.5em;
}
@media only screen and (min-width: 320px) {
  .header-pic {
    margin: auto;
    float: none;
  }
  .header-ttl {
    text-align: center;
  }
  .header-contact-lst {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  .mission-quote {
    width: 100%;
  }
  .mission-quote-ethics {
    margin-bottom: 0;
  }
  .mission-quote-skills,
  .mission-quote-philosophy {
    padding: 1.5em;
  }
  .post-header,
  .post-description {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .header-pic {
    margin-left: 1%;
    float: left;
  }
  .header-ttl {
    text-align: left;
  }
  .header-contact-lst {
    text-align: left;
    width: auto;
  }
  .mission-quote-skills,
  .mission-quote-philosophy {
    background-color: rgba(165, 101, 45, 0.2);
  }
  .post-header {
    width: 31.94444444%;
  }
  .post-description {
    width: 65.27777778%;
  }
}
@media only screen and (min-width: 992px) {
  .mission-quote-skills {
    width: 31.94444444%;
  }
  .mission-quote-philosophy {
    width: 65.27777778%;
  }
  .mission-quote-ethics {
    width: 77.77777778%;
  }
}
